# Server Configuration
PORT=3333
BASE_URL=http://localhost:3333

# N3 Official Dealer Portal
N3_LOGIN_URL=https://n3.glolotteryshop.com/login/

# LINE Official Account Messaging API
LINE_CHANNEL_ACCESS_TOKEN=ZQF3RalXLNMkOvdfHX2RQ6BEjJEjIfBpRuNzAu1rvPdw6yoROtV7WlxyPh2eHL6WKCtu7mORGkr4IN/HbzZe5yLAdxLbyXwsZK0QP+lZ9110G6UJqHyDh/CdlJgWd3SP1DYPeAVhiluE/pOwy0gk1gdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=02877d5c9adbc49948da0f951d0de4b4

# LINE User ID ของแอดมินสำหรับรับรูป QR Login เป๋าตัง
ADMIN_LINE_USER_ID=U0c10a5974f98b7ebb3367fd309f0222e
